.search-row {
    margin-top: 30px;
}
.grayed {
    color: #9c9c9c;
}
input {
    border: 2px solid #000;
    border-radius: 0px;
}
input:focus {
    border-color: #000;
    background: #e3ffe9;
}

ul {
    padding-left: 0px;
    height: 100%;
}

li {
    list-style: none;
    background: #e74c3c;
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

li a {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    display: block;
}
textarea {
    resize: none;
    overflow: hidden;
}
.api-txt,
.api-script-txt{
    width: 100%;
    height: 85px !important;
    color: #000;
    font-weight: bold;
    background: #dadada;
}
.api-txt {
    height: 50px !important;
}
ul {
    height: 20rem;
}
.display-none {
    display: none;
}
.btn-script,
.full-list{
    background: none;
    border: 2px solid #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    transition: all 0.2s ease-in;
}
.btn-script:hover {
    background: #fff;
    color: #e74c3c;
}
.full-list {
    background-color: #00609c;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.2s ease-in;
    border-color: #00609c;
}
.full-list:hover {
    background: #fff;
    color: #00609c;
}
.api-title {
    background: #00609c;
    padding: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.list-container {
    counter-reset: my-awesome-counter;
}
.my-list {
    background: none;
    color: #000;
    counter-increment: my-awesome-counter;
}
.my-list:before {
    content: counter(my-awesome-counter)".";
    font-weight: 700;
    font-size: 18px;
}
#my-list {
    width: 100%;
    height: 50px;
    border: 2px solid #dadada;
}
.btn-danger {
    margin-top: 20px;
}
.delete-btn {
    width: 100%;
}
.success-txt {
    text-align: center;
    color: green;
}